<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Guru99EcomSuite">
<listeners>
<listener class-name="com.guru.listener.Listener"></listener>
</listeners>
  <test name="Guru99EcomTest">
    <classes>
      <class name="com.guru.test.HomepagePageTest"/>
    </classes>
  </test> <!-- Guru99EcomTest -->
</suite> <!-- Guru99EcomSuite -->
